* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(238, 238, 238);
}


nav{
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 5;
}

.menu-logo {
    display: block;
    padding: 20px 0px 20px 0px;
    margin: 0px auto;
}

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 151, 241);  
    height: 45px;
    box-sizing: border-box;

}

.dropdown .teste {
    padding: 12px 20px 12px 20px;
}

.dropdown a {
    color: white;
    text-decoration: none;
}

.dropdown a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 109, 168); 
}

.dropdown-menu a{
    color: rgb(205, 225, 252);
    text-decoration: none;
    background-color: rgb(74, 143, 199);
    border-bottom: 3px solid rgb(42, 90, 161);
}

.dropdown-menu a:hover {
    color: white;
    background-color: rgb(38, 96, 143);
}







.conteiner {
    display: flex;
    margin: 20px 14%; 
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
    
}

.referentes {
    background-color: white;
    height: 300px;
    text-align: center;
}

.referentes h3 {
    padding: 20px;
}


.conteiner-referentes {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.referentes-itens {
    background-color: rgb(238, 238, 238);
    width: 270px;
    padding: 20px;
}

.referentes-itens:hover {
    background-color: rgb(223, 223, 223);
    width: 270px;
    padding: 20px;
}

.referentes-itens a {
    text-decoration: none;
    color: rgb(134, 134, 134);
}

.referentes-itens h4 {
    color: rgb(59, 59, 59);
}


footer {
    background-color: rgb(19, 115, 194);
    color: white;
    height: 185px;
}


footer h6{
    text-align: center;
    padding-top: 20px;
}

.dois-topicos {
    display: flex;
    justify-content: center;
    gap: 400px
}

.localizacao, .telefone {
    text-align: center;
}







































section.topicos1 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos1 a {
    text-decoration: none;
}

.item1 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item1 img {
    width: 360px;
    height: 250px;
}

.descricao1 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais1 {
    background-color: rgb(91, 175, 91);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos1:hover {
    .saiba-mais1 {
        background-color: rgb(21, 122, 21);
    }
}

.item1 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(21, 122, 21);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}







section.topicos2 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos2 a {
    text-decoration: none;
}

.item2 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item2 img {
    width: 360px;
    height: 250px;
}

.descricao2 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais2 {
    background-color: rgb(90, 144, 214);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos2:hover {
    .saiba-mais2 {
        background-color: rgb(29, 79, 145);
    }
}

.item2 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(29, 79, 145);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}













section.topicos3 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos3 a {
    text-decoration: none;
}

.item3 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item3 img {
    width: 360px;
    height: 250px;
}

.descricao3 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais3 {
    background-color: rgb(199, 92, 115);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos3:hover {
    .saiba-mais3 {
        background-color: rgb(163, 34, 62);
    }
}

.item3 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(163, 34, 62);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}





section.topicos4 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos4 a {
    text-decoration: none;
}

.item4 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item4 img {
    width: 360px;
    height: 250px;
}

.descricao4 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais4 {
    background-color: rgb(230, 179, 121);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos4:hover {
    .saiba-mais4 {
        background-color: rgb(194, 107, 7);
    }
}

.item4 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(194, 107, 7);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}








section.topicos5 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos5 a {
    text-decoration: none;
}

.item5 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item5 img {
    width: 360px;
    height: 250px;
}

.descricao5 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais5 {
    background-color: rgb(111, 207, 219);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos5:hover {
    .saiba-mais5 {
        background-color: rgb(16, 148, 165);
    }
}

.item5 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(16, 148, 165);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}








section.topicos6 {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 380px;
}

.topicos6 a {
    text-decoration: none;
}

.item6 {
    height: 258px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.item6 img {
    width: 360px;
    height: 250px;
}

.descricao6 {
    background-color: white;
    height: 80px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    padding: 0px 20px 0px 20px;
}

.saiba-mais6 {
    background-color: rgb(224, 205, 96);
    color: white;
    font-weight: bold;
    height: 40px;
    font-size: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topicos6:hover {
    .saiba-mais6 {
        background-color: rgb(187, 161, 13);
    }
}

.item6 h6{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(187, 161, 13);
    width: 110px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bold;
}